<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>968709302758-40gvejsi14p3ph7r5to4f0bq6s06a83c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.968709302758-40gvejsi14p3ph7r5to4f0bq6s06a83c</string>
	<key>API_KEY</key>
	<string>AIzaSyDw5WIDySdpGr5mEyCu128izTWLcwMdgwg</string>
	<key>GCM_SENDER_ID</key>
	<string>968709302758</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sg.shawnkoh.tagtime</string>
	<key>PROJECT_ID</key>
	<string>tagtime-shawnkoh</string>
	<key>STORAGE_BUCKET</key>
	<string>tagtime-shawnkoh.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:968709302758:ios:9417800baddd3dcedf0e27</string>
</dict>
</plist>
